app-header {
  width: 100%;
  background: #253136;
  display: block;
  color: white;
  height: 56px;
  font-weight: bold;
  line-height: 56px;
  font-size: 1.3em;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 9999;
}